{% extends 'base.html' %}

{% block content %}
    <h2>DETAIL</h2>
    <h3>{{ article.pk }} 번째 글</h3>
    <hr>
    <p>제목: {{ article.title }} </p>
    <p>내용: {{ article.content }} </p>
    <p>작성 시각: {{ article.created_at }} </p>
    <p>수정 시각: {{ article.updated_at }} </p>
    <a href="{% url 'articles:edit' article.pk %}">EDIT</a>
    <form action="{% url 'articles:delete' article.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="DELETE">
    </form>
    <hr>
    <a href="{% url 'articles:new' %}">NEW 가기</a>
{% endblock content %}