{% extends 'base.html' %}

{% block content %}
  <h1>DETAIL</h1>
  <hr>
  <img src="{{ movie.poster_url }}" alt="사진" class="w-25 mb-3">
  <p>영화 제목 : {{ movie.title }}</p>
  <p>영화 관객 수 : {{ movie.audience }}</p>
  <p>영화 개봉일 : {{ movie.release_date|date:"Y-m-d" }}</p>
  <p>장르 : {{ movie.genre }}</p>
  <p>평점 : {{ movie.score }}</p>
  <p>줄거리 : {{ movie.description }}</p>
  <a href="{% url 'movies:edit' movie.pk %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">EDIT</a>
  <form action="{% url 'movies:delete' movie.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="DELETE" class="btn btn-secondary mt-3" tabindex="-1" role="button" aria-disabled="true">
  </form>
  <hr>
  <a href="{% url 'movies:index' %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">뒤로가기</a>
{% endblock content %}

