{% extends 'base.html' %}

{% block content %}
  <h1>NEW</h1>
  <form action="{% url 'movies:create' %}" method="POST">
    {% csrf_token %}
    <label for="title" class="mt-1">영화 제목</label><br>
    <input type="text" name="title" id="title"><br>
    <label for="audience" class="mt-1">영화 관객 수</label><br>
    <input type="text" name="audience" id="audience"><br>
    <label for="release_date" class="mt-1">영화 개봉일</label><br>
    <input type="date" name="release_date" id="release_date"><br>
    <label for="genre" class="mt-1">장르</label><br>
    <select name="genre" id="genre">
        <option value="로맨스">로맨스</option>
        <option value="스릴러">스릴러</option>
        <option value="코미디">코미디</option>
        <option value="액션">액션</option>
        <option value="판타지">판타지</option>
        <option value="애니메이션">애니메이션</option>
    </select><br>
    <label for="score" class="mt-1">평점</label><br>
    <input type="text" name="score" id="score"><br>
    <label for="poster_url" class="mt-1">포스터 사진 주소</label><br>
    <textarea name="poster_url" id="poster_url" cols="30" rows="5"></textarea><br>
    <label for="description" class="mt-1">줄거리</label><br>
    <textarea name="description" id="description" cols="30" rows="10"></textarea><br>
    <input type="submit" value="SUBMIT" class="btn btn-secondary mt-1" tabindex="-1" role="button" aria-disabled="true">
  </form>
  <hr>
  <a href="{% url 'movies:index' %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">뒤로가기</a>
{% endblock content %}
